# localhost:443 {
#     # Spring Boot API
#     handle /discord/* {
#         reverse_proxy spring:8080
#     }
#
#     handle /api/* {
#         reverse_proxy spring:8080
#     }
#
#     # React
#     handle {
#         reverse_proxy react:{$REACT_PORT}
#     }
# }

:80 {

    # Spring Boot API
    handle /api/* {
        reverse_proxy localhost:8080
    }

    handle /discord/* {
        reverse_proxy localhost:8080
    }

    # React
    root * /srv/react
    encode gzip

    try_files {path} /index.html
    file_server
}