eventplanner.localhost {
    @spring {
        path /api/*
        path /oauth2/*
        path /login/oauth2/*
        path /logout
        path /discord/*
    }

    reverse_proxy @spring spring:8080
    reverse_proxy react:5173
}